<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.viagens">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Viagens"
        tools:targetApi="31">

        <!-- Activity principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tela de Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Tela de Registro -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Tela principal do app -->
        <activity
            android:name=".MinhasViagensActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".DetalhesDasViagensActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".DetalhesLocaisActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <!-- Perfil do usuário -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <!-- Nova viagem -->
        <activity
            android:name=".NovaViagemActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <!-- Novo Local -->
        <activity
            android:name=".NovoLocalActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <!-- Galeria (se aplicável) -->
        <activity
            android:name=".GaleriaActivity"
            android:exported="false"
            />

    </application>

</manifest>